<!doctype html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fw-bold">Welcome, {{username}}</h1>
        </div>
        <form method="post" action="{{url_for('upload')}}" enctype="multipart/form-data">
            <div class="col-md-6 mx-auto text-center">
                <label for="file" class="form-label fw-bold fs-5">Upload Document</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="file" class="form-control" id="file" name="file" style="max-width: 256px;">
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Upload</button>
                </div>
            </div>
        </form>
     </main>      
   </body>
</html>
