<!doctype html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#prompt-form").submit(function(e) {
            e.preventDefault();
            $.post("/prompt", $(this).serialize())
                .done(function(data) {
                    let str = JSON.stringify(data);
                    console.log(str);
                    var output = str + (data.error ? " Error: " + data.error : "");
                    $("#response").text(output);
                });
        });
      });
    </script>
    
    


</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fw-bold">Welcome, {{username}}</h1>
        </div>
        <form method="post" id="prompt-form">
            <div class="col-md-6 mx-auto text-center">
                <label for="file" class="form-label fw-bold fs-5">Enter a prompt:</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="prompt" name="prompt" style="max-width: 256px;"><br>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
                </div>
            </div>
        </form>

        <div class="px-4 py-3 my-2 text-center">
          <h1 class="display-6 fw-bold">Generated Text:</h1>
          <p id="response"></p>
      </div>
     </main>      
   </body>
</html>
